@font-face {
  font-family: Bespoke;
  src: url(assets/Bespoke-113.otf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Bespoke;
  font-size: 1.5;
  line-height: 180%;
  overflow: hidden;
  /* background-color: lightpink; */
}

/* html {
  .basket(#335, #dde, #aab, 40px);
}

.basket(@background, @to-right, @to-left, @size:25px) {
  background: linear-gradient(
      45deg,
      @to-right 12%,
      transparent 0,
      transparent 88%,
      @to-right 0
    ),
    linear-gradient(
      135deg,
      transparent 37%,
      @to-left 0,
      @to-left 63%,
      transparent 0
    ),
    linear-gradient(
      45deg,
      transparent 37%,
      @to-right 0,
      @to-right 63%,
      transparent 0
    ),
    @background;
  background-size: @size @size;
} */

iframe {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  /* top: 25vh; */
  /* left: 25vw; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  overflow: hidden;
}

a {
  /* outline: 1px solid black; */
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 15px;
  background-color: hotpink;
  color: white;
  border-radius: 50pt;
  z-index: 100;
}

.invite {
  color: steelblue;
}

.party {
  color: hotpink;
  /* background-color: lightpink; */
  background-blend-mode: multiply;
}

.container {
  pointer-events: none;
}

.normal {
  position: absolute;
  top: 0;
  left: 0;
}

.deg {
  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  width: 100vh;
  transform: translate(50%, -50%) rotate(90deg);
  -webkit-transform: translate(50%, -50%) rotate(90deg);
  -moz-transform: translate(50%, -50%) rotate(90deg);
  -o-transform: translate(50%, -50%) rotate(90deg);
  -ms-transform: translate(50%, -50%) rotate(90deg);
}
